.header {
  display: grid;
  grid-template-columns: 1fr;
}

.header__banner {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.header__banner img {
  object-fit: cover;

  height: 806px;
}

.header__container {

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  color: #ffffff;
  z-index: 100;
}

.header__container p {
  color: #ffffff;
}
