mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]

  header.header(class=headerMods)
    div.header__banner
     +picture("content", "banner-desktop", "jpg", 1920, 803, "ffff")

    .container.header__container
      p sdsdsds
      +icon('icon-close', 30, 30)
      //- if(currentUrl === "index.html")
      //- else
